@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    font-family: Arial, sans-serif;
}

/* Estilos da barra de navegação */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4C6410;
    color: white;
    position: relative;
    z-index: 1000;
    margin-bottom: 20px;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.navbar ion-icon {
    font-size: 30px;
}

.menu-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-right: 15px;
}

.menu-icons a {
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.menu-toggle, .menu-icons, .logo {
    width: 60px;
}

/* Estilização do input de pesquisa */
.search-input {
    display: none; 
    width: 100%;
    position: relative;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-input.active {
    display: flex; 
    align-items: center;
}

.search-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease;
    color: #333;
}

.search-input .search-icon {
    margin-left: -30px;
    color: #333;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo do dropdown menu */
.img-perfil {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#span-nome {
    font-size: 1.2em;
    font-weight: 800;
    color: #223512;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.header-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.dropdown-menu ion-icon {
    font-size: 22px;
}

.dropdown-menu {
    position: fixed;
    top: 0;
    padding-top: 30px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(250, 250, 250, 0.7);
    backdrop-filter: blur(5px);
    width: 300px;
    border-radius: 0px 30px 0px 30px;
    min-height: 450px;
    height: 100vh;
    transition: left 0.5s;
    display: flex;
    z-index: 9999;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul .menu-list {
    margin: 10px 0;
}

.dropdown-menu ul .menu-list a {
    color: #223512;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    gap: 10px;
    transition: background-color 0.5s;
    display: flex;
    text-align: center;
    justify-content: start;
    align-items: stretch;
    font-size: 1.1em;
}

.dropdown-menu ul .menu-list a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

/* ----estilo pag LOGIN */
.login-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img img{
    width: 300px;
}
.bem-vindo{
    text-align: center;
    font-weight: 700;
    color: #223512;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.input-group-login  {
    display: flex;
    align-items: center;
    background-color: #e0e0d1;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.input-group-login ion-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #666;
}

.input-field {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #666;
    flex-grow: 1;
}

.input-field::placeholder {
    color: #666;
    opacity: 1;
}

.login-button {
    background-color: #5a8a34;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #4a7330;
}

.links {
    margin-top: 15px;
    text-align: center;
}
.forgot-password{
    margin-bottom: 20px;
}
.forgot-password, .register {
    display: block;
    /* margin-bottom: 10px; */
    color: #4a7330;
    text-decoration: none;
    text-decoration: underline;
}
.texto-register{
    display: block;
    margin-bottom: 10px;
    color: #4a7330;
    text-decoration: none;
}
.forgot-password:hover, .register:hover {
    text-decoration: underline;
}
/* Cadastro PAGINA */

/* styles.css */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.form-container {
    padding: 30px;
    border-radius: 10px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form h2 {
    color: #5a5a5a;
    margin-bottom: 20px;
}

.input-group, .input-pair {
    width: 100%;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-pair {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os elementos */
}

.input-group input, .input-pair input {
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    outline: none;
    background-color: #E0E0D1;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 100%;
}

.input-pair input {
    width: 48%; 
    margin-bottom: 0; 
}

.input-group input:focus, .input-pair input:focus {
    border-color: #6a9f00;
}
.senha-grupo{
    background-color: #ADC172;
    border-radius: 20px;
}
#senha{
    background-color: #ADC172;
    border: none;
}
#confirmacao-senha{
    background-color: #ADC172;
    border: none;
}
#criar-conta {
    background-color: #4C6410;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

#criar-conta:hover {
    background-color: #5d8d00;
}

.hidden {
    display: none;
}

#successMessage {
    text-align: center;
    color: #4CAF50;
    font-weight: bold;
    margin-top: 20px;
}

/* Logo Bem-me-Quer Questionário */
#logo-quiz{
    width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
}
#logo-quiz img{
    max-width: 120px;
}

/* Main Questionário */
.conteudo-questionario{
    font-family: 'Poppins', sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container Questionário */

.questionario{
    width: 100%;
    max-width: 350px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#respostas{
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
}

#addProduto{
    margin: 0;
}

#container-button-prod{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btnQuestionario{
    margin: 20px 0;
    padding: 10px 30px;
    background-color: #4C6410;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    box-shadow: 1px 2px 5px #ADC172;
    cursor: pointer;
}



#pergunta{
    margin: 20px 0;
}

.alternativas{
    cursor: pointer;
    width: 100%;
}

.alternativas input[type="checkbox"]{
    display: none;
}

.alternativas span{
    border-radius: 20px;
    background-color: #ADC172;
    text-indent: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alternativas input[type="checkbox"]:checked ~ span{
    background-color: #1B3700;
    border-color: #1B3700;
    color: #fff;
    transition: .5s;
}

.tipoAssinatura{
    width: 100%;
    border-radius: 5px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cateAssinatura {
    width: 100%;
    background-color: #4C6410;
    color: white;
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
  }

   .cateAssinatura input:checked ~ .checkAssinatura {
    background-color: #4C6410;
  }

/* Página de Carrinho */

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.product-card-container .btnQuestionario{
    margin: 0;
}

.product-card {
    max-width: 300px;
    width: 100%;
    padding: 10px 0;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.product-card .logo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
}

.product-card .logo-card img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.product-card .logo-card i {
    font-size: 25px;
    color: #4C6410;
    transition: color 0.3s ease;
    cursor: pointer;
}

.product-card .logo-card i:hover {
    color: #333;
}

.main-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 15px;
}

.product-card .main-images img {
    max-width: 100px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: none;
    transition: opacity 0.5s ease;
}

.product-card .main-images img.active {
    display: block;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-details h3 {
    font-size: 1.1em;
    font-weight: 700;
}

.product-details p {
    font-size: 0.8em;
}

.change-product {
    margin: 10px 15px;
}

.product-card .change-product .options-product {
    display: flex;
}

.change-product .options-product span {
    font-size: .9em;
    font-weight: 700;
}

.options-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options-product .img-options {
    display: flex;
    justify-content: space-evenly;
}

.options-product .img-options .option {
    width: 45px;
    height: 45px;
    border-radius: 20%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.options-product .img-options .active {
    box-shadow: 0 0 0 4px #fff,
        0 0 0 6px #4c64107e;
}

.card-line {
    border: .5px solid #ccc;
    margin: 10px auto;
    width: 90%;
}

.separador-carrinho{
    border: 5px solid #4c641040;
    width: 100%;
    margin: 10px 0;
}

.tipoPagamento, .infoPessoais{
    width: 100%;
    margin: 10px;
}

.tipoPagamento a, .infoPessoais a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoPessoais{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tipoPagamento i, .infoPessoais i{
    font-size: 1.7em;
    color: #4C6410;
}

.cpf-carrinho{
    width: 100%;
}


/* Página de Indicações */

.indicacoes-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1em;
}

.indicacoes-main img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.container-indicacoes{
    display: grid;
    grid-template-rows: 1fr;
    gap: 15px;
}

.indicacao{
    background-color: #E5E6D9;
    padding: 15px 0;
    border-radius: 20px;
    color: #1B3700;
    font-weight: 600;
    font-size: .9em;
    text-decoration: none;
}

.indicacao h4{
    font-weight: 800;
}

@media screen and (min-width:560px) {
    *{
        display: none;
    }
}